@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah:400);
@import url(https://fonts.googleapis.com/css?family=Gilda+Display);





body {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.7;
}
.display-1 {
  font-family: 'Gloria Hallelujah', handwriting;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Gloria Hallelujah', handwriting;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Gloria Hallelujah', handwriting;
  font-size: 0.9rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Gloria Hallelujah', handwriting;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Gilda Display', serif;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #3f855b !important;
}
.bg-success {
  background-color: #92bda3 !important;
}
.bg-info {
  background-color: #3f855b !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #3f855b !important;
  border-color: #3f855b !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #265137 !important;
  border-color: #265137 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #265137 !important;
  border-color: #265137 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #3f855b !important;
  border-color: #3f855b !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #265137 !important;
  border-color: #265137 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #265137 !important;
  border-color: #265137 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #3f855b !important;
  border-color: #3f855b !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #265137 !important;
  border-color: #265137 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #265137 !important;
  border-color: #265137 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #1e402c !important;
  color: #1e402c !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #3f855b !important;
  border-color: #3f855b !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3f855b !important;
  border-color: #3f855b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #1e402c !important;
  color: #1e402c !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #3f855b !important;
  border-color: #3f855b !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3f855b !important;
  border-color: #3f855b !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #1e402c !important;
  color: #1e402c !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #3f855b !important;
  border-color: #3f855b !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3f855b !important;
  border-color: #3f855b !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #58916f !important;
  color: #58916f !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #3f855b !important;
}
.text-secondary {
  color: #3f855b !important;
}
.text-success {
  color: #92bda3 !important;
}
.text-info {
  color: #3f855b !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1e402c !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #1e402c !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #58916f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #1e402c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #3f855b;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3f855b;
  border-color: #3f855b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #3f855b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #80c39b;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1ede6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #80c39b;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Gilda Display', serif;
  font-size: 0.9rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #3f855b;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #3f855b;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #3f855b;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #3f855b;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #3f855b;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.mbr-section-title {
  letter-spacing: 1px;
  margin: 0;
}
.mbr-section-subtitle {
  letter-spacing: 2px;
  margin: 0;
}
.mbr-section-btn .btn {
  font-weight: 700;
}
.mbr-section-btn .btn-sm {
  padding: .3rem 1rem !important;
}
.mbr-section-btn .btn-md {
  padding: .5rem 2rem !important;
}
.mbr-section-btn .btn-lg {
  padding: 1rem 2.2rem !important;
}
.mbr-text {
  letter-spacing: 1px;
}
.mbr-lighter {
  font-weight: 100 !important;
}
body {
  color: #333333;
}
.up-z-index {
  z-index: 1000 !important;
}
.cid-raiLpTZt6C .nav-item:focus,
.cid-raiLpTZt6C .nav-link:focus {
  outline: none;
}
.cid-raiLpTZt6C a.nav-link:focus {
  color: #ffffff !important;
}
.cid-raiLpTZt6C .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-raiLpTZt6C .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-raiLpTZt6C .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-raiLpTZt6C .navbar .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  z-index: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-raiLpTZt6C .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-raiLpTZt6C .navbar.collapsed .navbar-collapse {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-raiLpTZt6C .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-raiLpTZt6C .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-raiLpTZt6C .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-raiLpTZt6C .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-raiLpTZt6C .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-raiLpTZt6C .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-raiLpTZt6C .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-raiLpTZt6C .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-raiLpTZt6C .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-raiLpTZt6C .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-raiLpTZt6C .navbar .navbar-collapse {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .cid-raiLpTZt6C .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-raiLpTZt6C .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-raiLpTZt6C .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-raiLpTZt6C .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-raiLpTZt6C .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-raiLpTZt6C .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-raiLpTZt6C .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-raiLpTZt6C .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-raiLpTZt6C .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-raiLpTZt6C .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-raiLpTZt6C .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-raiLpTZt6C .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-raiLpTZt6C .navbar-brand {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-raiLpTZt6C .navbar-brand .navbar-caption-wrap {
  display: flex;
}
.cid-raiLpTZt6C .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-raiLpTZt6C .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-raiLpTZt6C .dropdown-item.active,
.cid-raiLpTZt6C .dropdown-item:active {
  background-color: transparent;
}
.cid-raiLpTZt6C .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-raiLpTZt6C .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-raiLpTZt6C .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-raiLpTZt6C .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-raiLpTZt6C .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-raiLpTZt6C .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-raiLpTZt6C ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-raiLpTZt6C .navbar-buttons {
  text-align: center;
}
.cid-raiLpTZt6C button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-raiLpTZt6C button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #3f855b;
}
.cid-raiLpTZt6C button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-raiLpTZt6C button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-raiLpTZt6C button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-raiLpTZt6C button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-raiLpTZt6C nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-raiLpTZt6C nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-raiLpTZt6C nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-raiLpTZt6C nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-raiLpTZt6C .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-raiLpTZt6C a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.cid-raiLpTZt6C .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-raiLpTZt6C .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-raiLpTZt6C .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-raiLpTZt6C .nav-link:hover,
.cid-raiLpTZt6C .icons-menu .mbr-iconfont:hover {
  color: #ffffff !important;
}
.cid-raiLpTZt6C .dropdown-item:hover {
  color: #878787 !important;
}
.cid-raiLpTZt6C .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #ffffff;
  transition: width 0.3s ease-in;
}
.cid-raiLpTZt6C .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-raiLpTZt6C .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-raiLpTZt6C .navbar-expand-lg {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .cid-raiLpTZt6C .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-raiLpTZt6C .dropdown-menu {
    top: 100%;
  }
  .cid-raiLpTZt6C .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-raiLpTZt6C .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-raiLpTZt6C .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-raiLpTZt6C .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-raiLsdSyUg {
  z-index: 1;
  background-image: url("../../../assets/images/schliff2-1-2000x1125.jpg");
}
.cid-raiLsdSyUg .mbr-arrow {
  background: #000000 !important;
  opacity: .7;
}
.cid-raiLsdSyUg .mbr-arrow i {
  color: #ffffff !important;
}
.cid-raiLsdSyUg .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raiLsdSyUg .input-wrap {
  background: #ffffff;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form {
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap .date-row {
  display: inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .mbr-section-btn {
  width: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .cid-raiLsdSyUg .booking-datepicker .mbr-form .mbr-section-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  display: flex;
}
.cid-raiLsdSyUg .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  line-height: 18px;
  padding: 2rem;
  margin: 0;
}
.cid-raiLsdSyUg .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-raiLsdSyUg .datepicker .active.day {
  background-color: #2b6477 !important;
  color: #ffffff !important;
}
.cid-raiLsdSyUg .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (min-width: 768px) {
  .cid-raiLsdSyUg .booking-datepicker input:not(.guests-input) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px) {
  .cid-raiLsdSyUg .booking-datepicker .mbr-form {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-raiLsdSyUg .booking-datepicker .mbr-form .col-3,
  .cid-raiLsdSyUg .booking-datepicker .mbr-form .mbr-section-btn {
    max-width: 60% !important;
  }
  .cid-raiLsdSyUg .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    margin: 0 !important;
  }
}
.cid-raiLsdSyUg .mbr-section-subtitle,
.cid-raiLsdSyUg .underline {
  text-align: left;
}
.cid-raiLsdSyUg .mbr-section-title {
  text-align: left;
}
.cid-raiM2oFEdi {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #3f855b;
}
.cid-raiM2oFEdi .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-raiM2oFEdi .mbr-text {
  margin: 0;
  padding: 2rem 0;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-raiM2oFEdi .inner-container {
    width: 100% !important;
    padding: 0 15px;
  }
}
.cid-raiLMx062Y {
  background-color: #000000;
}
.cid-raiLMx062Y .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-raiLMx062Y .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raiLMx062Y .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiLMx062Y .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-raiLMx062Y .image-element {
    padding-left: 0;
  }
}
.cid-raiLMx062Y .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-raiLMx062Y .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-raiLMx062Y .brown {
  color: #c19b76;
}
.cid-raiLMx062Y .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiLMx062Y .paragraphs-wrapper .first-paragraph,
.cid-raiLMx062Y .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-raiLMx062Y .image-element {
    padding-top: 1rem;
  }
  .cid-raiLMx062Y .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-raiLMx062Y .paragraphs-wrapper .first-paragraph,
  .cid-raiLMx062Y .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-raiLMx062Y .first-paragraph,
  .cid-raiLMx062Y .second-paragraph {
    width: 50%;
  }
  .cid-raiLMx062Y .first-paragraph {
    padding-right: .5rem;
  }
  .cid-raiLMx062Y .second-paragraph {
    padding-left: .5rem;
  }
  .cid-raiLMx062Y .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-raiLMx062Y .mbr-section-title,
  .cid-raiLMx062Y .mbr-section-btn {
    text-align: left;
  }
}
.cid-raiLMx062Y .mbr-text,
.cid-raiLMx062Y .mbr-section-btn {
  color: #fcfcfc;
}
.cid-raiLMx062Y .mbr-section-title {
  color: #ffffff;
}
.cid-raiLMx062Y .mbr-section-subtitle,
.cid-raiLMx062Y .underline {
  color: #c19b76;
}
.cid-raiLYVPA19 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-raiLYVPA19 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-raiLYVPA19 .mbr-section-title,
.cid-raiLYVPA19 .mbr-section-subtitle,
.cid-raiLYVPA19 .underline {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-raiLYVPA19 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-raiLYVPA19 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-raiLYVPA19 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-raiLYVPA19 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-raiLYVPA19 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #efefef, #c19b76);
}
.cid-raiLYVPA19 .icon-focus {
  display: none;
}
.cid-raiLYVPA19 .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: center;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #ffffff;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-raiLYVPA19 ul {
  font-size: 0;
}
.cid-raiLYVPA19 .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #333333 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-raiLYVPA19 .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-raiLYVPA19 .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c19b76;
}
.cid-raiLYVPA19 .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-raiLYVPA19 .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-raiLYVPA19 .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-raiLYVPA19 .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-raiLYVPA19 .btn:hover {
  background: transparent !important;
}
.cid-raiLYVPA19 .btn:hover:before {
  background: transparent !important;
}
.cid-raiLYVPA19 .btn:before {
  background-color: transparent !important;
}
.cid-raiLYVPA19 .btn:focus {
  box-shadow: none;
  background: transparent !important;
}
.cid-raiHs96ja4 {
  background-color: #000000;
}
.cid-raiHs96ja4 .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-raiHs96ja4 .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-raiHs96ja4 .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raiHs96ja4 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiHs96ja4 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-raiHs96ja4 .image-element {
    padding-right: 0;
  }
}
.cid-raiHs96ja4 .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-raiHs96ja4 .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-raiHs96ja4 .brown {
  color: #c19b76;
}
.cid-raiHs96ja4 .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiHs96ja4 .paragraphs-wrapper .first-paragraph,
.cid-raiHs96ja4 .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-raiHs96ja4 .image-element {
    padding-bottom: 1rem;
  }
  .cid-raiHs96ja4 .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-raiHs96ja4 .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-raiHs96ja4 .paragraphs-wrapper .first-paragraph,
  .cid-raiHs96ja4 .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-raiHs96ja4 .first-paragraph,
  .cid-raiHs96ja4 .second-paragraph {
    width: 50%;
  }
  .cid-raiHs96ja4 .first-paragraph {
    padding-right: .5rem;
  }
  .cid-raiHs96ja4 .second-paragraph {
    padding-left: .5rem;
  }
  .cid-raiHs96ja4 .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-raiHs96ja4 .mbr-section-title,
  .cid-raiHs96ja4 .mbr-section-btn {
    text-align: left;
  }
}
.cid-raiHs96ja4 .mbr-text,
.cid-raiHs96ja4 .mbr-section-btn {
  color: #ffffff;
}
.cid-raiHs96ja4 .mbr-section-subtitle,
.cid-raiHs96ja4 .underline {
  color: #c19b76;
}
.cid-raiEFnpmFi {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-raiEFnpmFi .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-raiEFnpmFi .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-raiEFnpmFi .title {
    width: 100% !important;
  }
}
.cid-raiEFnpmFi .mbr-section-title {
  color: #ffffff;
}
.cid-raiHsKHNMT {
  background-color: #000000;
}
.cid-raiHsKHNMT .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-raiHsKHNMT .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raiHsKHNMT .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiHsKHNMT .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-raiHsKHNMT .image-element {
    padding-left: 0;
  }
}
.cid-raiHsKHNMT .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-raiHsKHNMT .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-raiHsKHNMT .brown {
  color: #c19b76;
}
.cid-raiHsKHNMT .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiHsKHNMT .paragraphs-wrapper .first-paragraph,
.cid-raiHsKHNMT .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-raiHsKHNMT .image-element {
    padding-top: 1rem;
  }
  .cid-raiHsKHNMT .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-raiHsKHNMT .paragraphs-wrapper .first-paragraph,
  .cid-raiHsKHNMT .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-raiHsKHNMT .first-paragraph,
  .cid-raiHsKHNMT .second-paragraph {
    width: 50%;
  }
  .cid-raiHsKHNMT .first-paragraph {
    padding-right: .5rem;
  }
  .cid-raiHsKHNMT .second-paragraph {
    padding-left: .5rem;
  }
  .cid-raiHsKHNMT .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-raiHsKHNMT .mbr-section-title,
  .cid-raiHsKHNMT .mbr-section-btn {
    text-align: left;
  }
}
.cid-raiHsKHNMT .mbr-section-subtitle,
.cid-raiHsKHNMT .underline {
  color: #c19b76;
}
.cid-raiHsKHNMT .mbr-text,
.cid-raiHsKHNMT .mbr-section-btn {
  color: #ffffff;
}
.cid-raJmeLEx7F {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-raJmeLEx7F .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-raJmeLEx7F .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-raJmeLEx7F .title {
    width: 100% !important;
  }
}
.cid-raJmeLEx7F .mbr-section-title {
  color: #ffffff;
}
.cid-raiIJfZEPT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/img-20181124-93146-2000x1125.jpg");
}
.cid-raiIJfZEPT .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raiIJfZEPT .table {
  margin-bottom: 0;
}
.cid-raiIJfZEPT .table .table-wrapper {
  padding: 2rem;
  background: #ffffff;
  position: relative;
}
.cid-raiIJfZEPT .table .table-wrapper .table-head-wrapper {
  background: #3f855b;
  margin: -2rem;
  margin-bottom: 0 !important;
  padding: 2rem;
  padding-bottom: 0 !important;
}
.cid-raiIJfZEPT .table .table-wrapper .table-head-wrapper span {
  width: 100%;
  display: block;
}
.cid-raiIJfZEPT .table .table-wrapper .table-purchase {
  padding-bottom: 2rem;
}
.cid-raiIJfZEPT .table .table-wrapper .table-purchase .table-pricing {
  margin: 0;
  margin-top: .5rem !important;
}
.cid-raiIJfZEPT .table .table-wrapper .list-group {
  list-style: none;
  padding-top: 2rem;
}
.cid-raiIJfZEPT .table .table-wrapper .list-group li {
  padding: .4rem;
  border-bottom: 1px solid #efefef;
}
.cid-raiIJfZEPT .table .table-wrapper .list-group li .mbr-iconfont {
  font-size: 30px;
}
@media (max-width: 767px) {
  .cid-raiIJfZEPT .table:not(.last-table) {
    margin-bottom: 1rem;
  }
  .cid-raiIJfZEPT .table-heading {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-raiIJfZEPT .table.first-row-table {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-raiIJfZEPT .table {
    margin-bottom: 0;
  }
}
.cid-raVyTrfDvD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/img-20181124-110632-2000x1125.jpg");
}
.cid-raVyTrfDvD .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raVyTrfDvD .table {
  margin-bottom: 0;
}
.cid-raVyTrfDvD .table .table-wrapper {
  padding: 2rem;
  background: #ffffff;
  position: relative;
}
.cid-raVyTrfDvD .table .table-wrapper .table-head-wrapper {
  background: #3f855b;
  margin: -2rem;
  margin-bottom: 0 !important;
  padding: 2rem;
  padding-bottom: 0 !important;
}
.cid-raVyTrfDvD .table .table-wrapper .table-head-wrapper span {
  width: 100%;
  display: block;
}
.cid-raVyTrfDvD .table .table-wrapper .table-purchase {
  padding-bottom: 2rem;
}
.cid-raVyTrfDvD .table .table-wrapper .table-purchase .table-pricing {
  margin: 0;
  margin-top: .5rem !important;
}
.cid-raVyTrfDvD .table .table-wrapper .list-group {
  list-style: none;
  padding-top: 2rem;
}
.cid-raVyTrfDvD .table .table-wrapper .list-group li {
  padding: .4rem;
  border-bottom: 1px solid #efefef;
}
.cid-raVyTrfDvD .table .table-wrapper .list-group li .mbr-iconfont {
  font-size: 30px;
}
@media (max-width: 767px) {
  .cid-raVyTrfDvD .table:not(.last-table) {
    margin-bottom: 1rem;
  }
  .cid-raVyTrfDvD .table-heading {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-raVyTrfDvD .table.first-row-table {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-raVyTrfDvD .table {
    margin-bottom: 0;
  }
}
.cid-raiMerjIkG {
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 1;
  background-color: #000000;
}
.cid-raiMerjIkG .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raiMerjIkG .mbr-text {
  margin: 0;
}
.cid-raiMerjIkG .first-item,
.cid-raiMerjIkG .second-item {
  padding: 1.5rem;
}
.cid-raiMerjIkG .first-item {
  background: #c19b76;
}
.cid-raiMerjIkG .first-item .item-btn .btn {
  margin-left: 4px !important;
}
.cid-raiMerjIkG .second-item {
  background: #333333;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-raiMerjIkG .second-item .check-text {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1rem 0;
}
.cid-raiMerjIkG .second-item .check-out {
  border-top: 2px solid #ffffff;
}
.cid-raiMerjIkG .content-wrap {
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}
.cid-raiMerjIkG .input-wrap {
  background: #fcfcfc;
}
.cid-raiMerjIkG .booking-datepicker {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form {
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap .date-row {
  display: -webkit-inline-flex;
  color: #333333;
  z-index: 1;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  display: flex;
}
.cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  margin: 0;
  line-height: 18px;
}
@media (max-width: 991px) {
  .cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    padding: 2rem;
  }
}
.cid-raiMerjIkG .datepicker {
  background-color: #fcfcfc;
  color: #3f855b;
}
.cid-raiMerjIkG .datepicker .active.day {
  background-color: #ff9a8a !important;
  color: #ffffff !important;
}
.cid-raiMerjIkG .datepicker:after {
  border-top-color: #fcfcfc;
  border-bottom-color: #fcfcfc;
}
.cid-raiMerjIkG .label {
  color: #3f855b;
}
@media (max-width: 767px) {
  .cid-raiMerjIkG .booking-datepicker .mbr-form {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-raiMerjIkG .booking-datepicker .mbr-form .col-3,
  .cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn {
    max-width: 60% !important;
  }
  .cid-raiMerjIkG .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    margin: 0 !important;
  }
  .cid-raiMerjIkG .item-text {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-raiMerjIkG .booking-datepicker input:not(.guests-input) {
    border-right: 1px solid #3f855b !important;
  }
}
@media (max-width: 767px), (max-width: 991px) {
  .cid-raiMerjIkG .booking-datepicker {
    padding: 2rem 0 0 0;
  }
}
.cid-raiG2WXqCX {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/molsheim-1-1920x1280.jpg");
}
.cid-raiG2WXqCX .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-raiG2WXqCX .main-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-raiG2WXqCX .form1 .input-wrap {
  margin-bottom: 1rem;
}
.cid-raiG2WXqCX .form1 .form-control {
  border: none;
  border-radius: 0;
  padding: .5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-raiG2WXqCX .form1 .input-group-btn {
  width: 100%;
}
.cid-raiG2WXqCX .form1 .input-group-btn .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cid-raiG2WXqCX .form1 .form-label-outside {
  color: #333333;
}
.cid-raiG2WXqCX .google-map {
  width: 100%;
  height: 25rem;
  height: 100%;
}
.cid-raiG2WXqCX .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-raiG2WXqCX .info-row ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.cid-raiG2WXqCX .info-row ol li {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
  padding: 10px;
}
.cid-raiG2WXqCX .info-value {
  color: #b7b6b6;
}
@media (max-width: 991px), (max-width: 767px) {
  .cid-raiG2WXqCX .form-wrapper {
    padding-bottom: 2rem;
  }
  .cid-raiG2WXqCX .main-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-raiG2WXqCX .form-wrapper {
    padding-bottom: 0;
    padding-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-raiG2WXqCX .form-subtitle {
    text-align: center;
  }
}
.cid-raiG2WXqCX .form-title {
  color: #ffffff;
}
.cid-raiG2WXqCX .form-text {
  color: #ffffff;
}
.cid-raiGBIQxWe {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-raiGBIQxWe .first-column {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-raiGBIQxWe .second-column img {
  object-fit: cover;
  object-position: center center;
  width: 10%;
}
.cid-raiGBIQxWe .mbr-list {
  margin: 0;
}
.cid-raiGBIQxWe .mbr-list li:not(:last-child) {
  margin-right: 2.5rem;
}
@media (max-width: 991px) {
  .cid-raiGBIQxWe .first-column {
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .cid-raiGBIQxWe .second-column {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .cid-raiGBIQxWe .mbr-list li:not(:last-child) {
    margin-right: 1rem;
  }
}
